* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 18px;
  height: 100vh;
}

h1, h2, h3 {
  margin: 0;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

.intro-chunk {
  padding: 96px 0;
  max-width: 400px;
}

.intro-chunk strong {
  color: hsl(110deg, 100%, 30%);
}

.intro-chunk p {
  font-size: 1.25rem;
}

.intro-chunk .title {
  font-size: 2rem;
  margin-bottom: 32px;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  padding: 96px 0;
  height: 55%;
}
header {
  border-bottom: 8px solid hsl(45deg, 0%, 30%);
}
.card {
  background-color: white;
  padding: 24px;
  margin: -24px;
}

.card p{
  line-height:  1.4;
}

.indented-heading {
  background: hsl(45deg, 90%, 50%);
  padding: 16px 32px;
  margin-left: -32px;
  margin-top: -16px;
  width: fit-content;
  border-bottom: 8px solid hsl(45deg, 90%, 30%);
}

.card p:last-child {
  margin-bottom: 0;
}